.clicked
{
    -fx-background-color: grey;
}

.button:hover
{
    -fx-border-width: 3px;
    -fx-border-color: yellow;
}

.button:focused
{
    -fx-border-width: 3px;
    -fx-border-color: black;
}

.button
{
    -fx-border-width: 0px;
    -fx-border-color: none;
}

#pane
{
    -fx-background-image: url("Hangman.png") no-repeat;
}